<h3>Add A Record In Your Crate</h3><br>
    <form action="/vinyl_records" method="POST">
        <label>Artist: </label>
            <input type="text" name="artist"><br>
        <label>Album: </label>
            <input type="text" name="album"><br>
        <label>Genre: </label>
            <input type="text" name="genre"><br>
        <label>Release Date: </label>
            <input type="text" name="release_date"><br>
            <input style="width:175px; padding: 5px; border-color:black;" type="submit" value="PUT IT IN YOUR CRATE!">
    </form>
