<h3>Add A Record In Your Crate</h3><br>
    <form action="/vinyl_records" method="POST">
        <label>Artist: </label><br>
            <input type="text" name="artist" placeholder="artist"><br>
        <label>Album: </label><br>
            <input type="text" name="album" placeholder="album"><br>
        <label>Genre: </label><br>
            <input type="text" name="genre" placeholder="genre"><br>
        <label>Release Date: </label><br>
            <input type="text" name="release_date" placeholder="release date"><br>
            <input style="width:175px; margin:10px; padding:5px; border-color:black; border-radius: 15px;" type="submit" value="PUT IT IN YOUR CRATE!">
    </form>
