<h2>Crate Diggers</h2>
<h5 style="text-align:center;">Click on a user to view their crate</h5> 

<% @users.each do |user| %>
    <h4><a href="/users/<%= user.id %>"><%= user.username %></a></h4>
    <% end %>
    
