<h3>Log In To Wax Stax Below:</h3><br>

<form action="/login" method="POST">

    <label>Username: </label><br>
        <input type="text" name="username" placeholder="username"><br><br>
    <label>Password: </label><br>
        <input type="password" name="password" placeholder="password"><br>
        <input style="width:175px; margin:10px; padding:5px; border-color:black; border-radius: 15px;" type="submit" value="Log In">

</form>