<h3>Your Account</h3><br>
<h4>Welcome back, <%= @user.username %><br></h4>

<br>
<form action="/vinyl_records" method="get">
    <input type="submit" value="View Current Records In Your Crate">
</form>


<form action="/vinyl_records/new" method="get">
    <input type="submit" value="Add A Record To Your Crate">
</form>
 
<form action="/users/<%= @user.id %>/edit" method="get">
    <input type="submit" value="Edit Account">
</form>

<form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account">
</form>
