<h3>Your Account</h3><br>
<h4>Welcome, <%= @user.username %><br></h4>

<br>
<% if current_user.id == @user.id %>
<a href="/vinyl_records">View Current Record Collection</a><br>
<br>
<a href="/vinyl_records/new">Add A Record To Your Crate</a><br>
<br>
<a href="/users/<%= @user.id %>/edit">Edit Account</a><br>
<br>
<form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input style="background-color:red;" type="submit" value="Delete Account">
</form>

    
<% end %>

