<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WaxStax</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/new.css">
  </head>
<body>
</header>
<ul>
  <li><a href="contact.asp">Signup</a></li>
  <li><a href="about.asp">Login</a></li>
</ul>
<br><br>
</header>
<h1>WaxStax</h1>
<h2>A way to catalog your precious vinyl record collection</h2>
</body>

</html>
